<div class="wrapper">
    <div class="slide-container">
        <div class="slide fade1">
            <img class="img" src="../../../assets/car1.jpg" style="width: 100%;height: 35vh;"/>
            <div class="text-caption">Special offer</div>
        </div>

        <div class="slide fade1">
            <img class="img" src="../../../assets/hole.jpg" style="width: 100%;height: 35vh;"/>
            <div class="text-caption">Special offer</div>
        </div>

        <div class="slide fade1">
          <img class="img" src="../../../assets/man.jpg" style="width: 100%;height: 35vh;"/>
            <div class="text-caption">Special offer</div>
        </div>
        <a class="prev" (click)="onNav(-1)">&#10094;</a>
        <a class="next" (click)="onNav(1)">&#10095;</a>
    </div>
    <div class="text-center">
        <span class="dot" (click)="setCurrentSlide(1)"></span>
        <span class="dot" (click)="setCurrentSlide(2)"></span>
        <span class="dot" (click)="setCurrentSlide(3)"></span>
    </div>
</div>
