/* You can add global styles to this file, and also import other style files */
@import 'variable';
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.card {
  box-shadow: 2px 0 0.5 $cool-grey;
  box-shadow: 0 2px 0.5 $cool-grey;
  border-radius: 5px;
  border: 1px solid $cool-grey
}
