<div class="header-nav">
    <nav class="search-group col-8 row">
        <div class="brand mr-2 ml-2 col-6" routerLink="/home">MyShopping</div>
        <div class="input">
            <my-input
                type="text"
                [formControl]="searchControl"
                [control]="searchControl"
                name="search"
                [labelClass]="'no-margin'"
            ></my-input>
        </div>
        <div class="btn">
            <span></span>
        </div>
    </nav>
    <div class="nav-right col-4 row">
        <div class="account dropdown col-6" (click)="ondropDownClick($event)">
            <button class="btn dropbtn">
                <span>Account</span>
            </button>
            <div class="drop-content card" [ngClass]="{'show': showDropDown}">
                <div class="row no-gutters log"  *ngIf="userQuery.currentUser |
                async;else register">
                  <div class="account-name mr-auto">Hello {{userQuery.currentUser | async}}</div>
                  <div class="log-out" (click)="logout()" *ngIf="userQuery.currentUser | async">Log out</div>
                </div>
                <ng-template #register>
                  <div class="row d-flex flex-column no-gutters log">
                    <button class="log-in btn btn-blue" [routerLink]="'/login'">Log In</button>
                    <button class="register btn btn-blue" [routerLink]="'/register'">Register</button>
                  </div>
                </ng-template>
                <ul>
                    <li *ngIf="userQuery.currentUser | async"><a>Your account</a></li>
                    <li><a>Your order</a></li>
                    <li><a>Your refer</a></li>
                </ul>
            </div>
        </div>
        <div class="cart dropdown col-6">
            <button class="btn dropbtn">
                <span></span>
                <span>Cart</span>
            </button>
            <div class="drop-content card cart-item">
                <ul>
                    <li>item1</li>
                    <li>item2</li>
                </ul>
            </div>
        </div>
        <div class="dropdown-overlay"></div>
    </div>
</div>
