.header-nav {
  display: flex;
  background-color: #131921;
  color: white;

  .search-group {
    display: flex;
    margin-right: auto;
  }

  .nav-right {
    display: flex;

    span {
      color: white;
    }

    .drop-content {
      display: none;
      z-index: 6;
    }

    .dropdown-overlay {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 5;
    }
  }
}
