@import 'variable';
.header-nav {
    height: 10%;
    display: flex;
    color: black;
    padding: 16px 0;

    .search-group {
        display: flex;
        flex-wrap: nowrap;
        margin-right: auto;
        .brand {
            font-size: 24px;
            font-weight: 500;
        }

        .input {
            min-width: 340px;
        }
    }

    .nav-right {
        display: flex;

        span {
            color: black;
            font-size: 22px;
        }
        .dropdown {
            .drop-content {
                position: absolute;
                visibility: hidden;
                background-color: white;
                font-size: 18px;
                color: black;
                min-width: 250px;
                z-index: 6;
                &.cart-item {
                    top: 100%;
                    left: -50%;
                }
                & > .log {
                    background-color: $light-grey;
                    padding: 12px;
                    font-weight: 500;
                }

                &.show {
                  visibility: visible;
                }

                ul {
                    list-style: none;
                    padding-left: 0;
                    & li {
                        margin-top: 8px;
                        padding: 12px;
                        cursor: pointer;
                    }
                }
                .log {
                    flex-wrap: nowrap;
                    .log-in {
                        cursor: pointer;
                        text-align: center;
                        flex-grow: 1;
                    }
                    .log-out {
                        font-size: 14px;
                        font-weight: 400;
                    }
                    .btn-blue {
                        background-color: $blue-dark;
                        color: white;
                        margin-top: 8px;
                        margin-bottom: 8px;
                    }
                }
            }

            .dropdown-overlay {
                position: fixed;
                display: none;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 5;
            }
        }
    }
}

.dep-nav {
    background-color: $blue-dark;
    font-size: 18px;
    font-weight: 400;
    color: white;
    .item {
        min-width: 96px;
        max-height: 40px;
        padding: 6px;
    }
}
