<div class="header-nav">
    <nav class="search-group col-8 row">
        <div class="brand mr-2 ml-2 col-6" routerLink="/home">MyShopping</div>
        <div class="input">
            <my-input
                type="text"
                [formControl]="searchControl"
                [control]="searchControl"
                name="search"
                [labelClass]="'no-margin'"
            ></my-input>
        </div>
        <div class="btn">
            <span></span>
        </div>
    </nav>
    <div class="nav-right col-4 row">
        <div class="account dropdown col-6" (click)="ondropDownClick($event, 'account')">
            <button class="btn dropbtn">
                <span class="material-icons icon-blue">account_circle </span>
                <span>Account</span>
            </button>
            <div class="drop-content card" [class]="{ show: showDropDown['account'] }">
                <div
                    class="row no-gutters log"
                    *ngIf="userQuery.currentUser | async; else register"
                >
                    <div class="account-name mr-auto">
                        Hello {{ userQuery.currentUser | async }}
                    </div>
                    <div
                        class="log-out"
                        (click)="logout()"
                        *ngIf="userQuery.currentUser | async"
                    >
                        Log out
                    </div>
                </div>
                <ng-template #register>
                    <div class="row d-flex flex-column no-gutters log">
                        <button
                            class="log-in btn btn-blue"
                            [routerLink]="'/login'"
                        >
                            Log In
                        </button>
                        <button
                            class="register btn btn-blue"
                            [routerLink]="'/register'"
                        >
                            Register
                        </button>
                    </div>
                </ng-template>
                <ul>
                    <li *ngIf="userQuery.currentUser | async">
                        <a>Your account</a>
                    </li>
                    <li><a>Your order</a></li>
                    <li><a>Your refer</a></li>
                </ul>
            </div>
        </div>
        <div class="cart dropdown col-6" (click)="ondropDownClick($event, 'cart')">
            <button class="btn dropbtn">
                <span class="material-icons icon-blue"> shopping_cart </span>
                <span class="cart pl-2">Cart</span>
                <span class="circle" *ngIf="itemQuantity > 0">{{ itemQuantity }}</span>
            </button>
            <div class="drop-content card cart-item" [class]="{ show: showDropDown['cart'] }">
                <div class="row no-gutters flex-column">
                  <div>{{ itemQuantity }} in your carts</div>
                  <button class="btn btn-blue">View Cart</button>
                </div>
                <ng-container *ngFor="let item of cartItems">
                    <my-cart-item [cart]="item"></my-cart-item>
                </ng-container>
            </div>
        </div>
        <div class="dropdown-overlay"></div>
    </div>
</div>
