@import 'variable';
.header-nav {
    height: 10%;
    display: flex;
    color: black;
    padding: 16px 0;

    .search-group {
        display: flex;
        margin-right: auto;
        .brand {
            font-size: 24px;
            font-weight: 500;
        }

        .input {
            min-width: 340px;
        }
    }

    .nav-right {
        display: flex;

        span {
            color: white;
        }
        .dropdown {
            .drop-content {
                position: absolute;
                display: none;
                z-index: 6;

                ul {
                  list-style: none;
                }
            }

            & .dropbtn:focus + .drop-content {
              display: block;
            }

            .dropdown-overlay {
                position: fixed;
                display: none;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 5;
            }
        }
    }
}
