@import 'variable';
.post-comment {
  height: 100%;
  header {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 500;
  }
  .product-title {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .detail {
    font-size: 14px;
    font-weight: normal;
  }
  .rating {
    & > div {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .container {
    font-size: 1.5rem;
    font-weight: 400;
    background-color: $grey-light;

    .btn {
      min-width: 100;
    }
  }
}
