@import "variable";

.wrapper {
  background-color: $grey-light;
  height: 100%;
  .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    .row {
      justify-content: space-around;
    }
  }
  header {
    font-size: 24px;
    font-weight: 600;
  }

  .avaliable-actions {
    margin-top: 16px;

    .text {
      color: $blue-light;
    }
  }

  .btn-blue {
    background-color: $blue-dark;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
