@import "variable";

.wrapper {
  background-color: $grey-light;
  height: 100%;

  header {
    font-size: 24px;
    font-weight: 600;
  }

  .avaliable-actions {
    margin-top: 16px;

    .text {
      color: $blue-light;
    }

    .toggle {
      position: relative;

      input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        left: 0;
        cursor: pointer;
      }

      & .slider {
        display: inline-block;
        width: 54px;
        height: 30px;
        border-radius: 999px;
        overflow: hidden;
        background: #ededed;
        border-width: 1px;
        border-color: #ccc;
        vertical-align: middle;
        transition: 0.4s ease;

        &::after {
          position: absolute;
          content: "";
          height: 29px;
          width: 24px;
          background-color: white;
          display: inline-block;
          border-radius: 999px;
          right: 27px;
          transition: 0.4 ease;
        }
      }

      & input:checked + .slider {
        background-color: $blue-dark;
      }

      & input:checked + .slider::after {
        transform: translateX(25px);
      }
    }
  }

  .btn-blue {
    background-color: $blue-dark;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
