@import 'variable';

.checkout-wrapper {
    background-color: $grey-light;
    header {
      font-size: 20px;
      font-weight: 500;
    }
    .active {
      border: 2px solid $blue-dark;
      border-radius: 5px;
    }
    .info {
        flex-basis: calc(70% - 24px);
        margin-right: 24px;
        section {
            background-color: white;
        }
    }

    .summary {
        flex-basis: 30%;
        section {
          background-color: white;
        }
    }
}

.my-card {
    box-shadow: 2px 0 0.5 $cool-grey;
    box-shadow: 0 2px 0.5 $cool-grey;
    border-radius: 5px;
    border: 1px solid $cool-grey;
}
